nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: grey;
  width: 100%;
  margin-bottom: 30px;
}

nav > a {
  color: white;
  font-size: 30px;

}

h1 {
  color: white;
}